<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_Captchag>
            <version>0.1.0</version>
        </Gsd_Captchag>
    </modules>
    <global>
        <models>
            <captchag>
                <class>Gsd_Captchag_Model</class>
            </captchag>
        </models>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <captchag>
                        <class>captchag/observer</class>
                        <method>checkContacts</method>
                    </captchag>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <captchag>
                    <file>captchag.xml</file>
                </captchag>
            </updates>
        </layout>
    </frontend>
    <default>
        <captcha>
            <frontend>
                <areas>
                    <contacts>
                        <label>Contacts Page</label>
                    </contacts>
                </areas>
            </frontend>
        </captcha>
        <customer>
            <captcha>
                <always_for>
                    <contacts>1</contacts>
                </always_for>
            </captcha>
        </customer>
    </default>
</config>