<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_Catalogg>
            <version>0.1.0</version>
        </Gsd_Catalogg>
    </modules>
    <global>
        <models>
            <catalogg>
                <class>Gsd_Catalogg_Model</class>
            </catalogg>
        </models>
        <blocks>
            <catalogg>
                <class>Gsd_Catalogg_Block</class>
            </catalogg>
        </blocks>
        <helpers>
            <catalogg>
                <class>Gsd_Catalogg_Helper</class>
            </catalogg>
        </helpers>
        <!--<resources>
            <gsd_catalogg_setup>
                <setup>
                    <module>Gsd_Catalogg</module>
                </setup>
            </gsd_catalogg_setup>
        </resources>-->
    </global>
    <frontend>
        <routers>
            <catalogg>
                <use>standard</use>
                <args>
                    <module>Gsd_Catalogg</module>
                    <frontName>catalogg</frontName>
                </args>
            </catalogg>
        </routers>
    </frontend>
</config>