<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_Sellerg>
            <version>0.1.0</version>
        </Gsd_Sellerg>
    </modules>
    <global>
        <models>
            <sellerg>
                <class>Gsd_Sellerg_Model</class>
            </sellerg>
        </models>
        <blocks>
            <sellerg>
                <class>Gsd_Sellerg_Block</class>
            </sellerg>
            <!--<adminhtml>
                <rewrite>
                    <catalog_product_grid>Gsd_Sellerg_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <helpers>
            <sellerg>
                <class>Gsd_Sellerg_Helper</class>
            </sellerg>
        </helpers>

        <resources>
            <gsd_sellerg_setup>
                <setup>
                    <module>Gsd_Sellerg</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </gsd_sellerg_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <sellerg>
                <use>standard</use>
                <args>
                    <module>Gsd_Sellerg</module>
                    <frontName>sellerg</frontName>
                </args>
            </sellerg>
        </routers>
        <layout>
            <updates>
                <sellerg>
                    <file>sellerg.xml</file>
                </sellerg>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sellerg>
                                            <title>Seller Section</title>
                                        </sellerg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>