<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_PriceSlideg>
            <version>0.1.0</version>
        </Gsd_PriceSlideg>
    </modules>
    <global>
        <models>
            <priceslideg>
                <class>Gsd_PriceSlideg_Model</class>
            </priceslideg>
            <catalog>
                <rewrite>
                    <layer>Gsd_PriceSlideg_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Gsd_PriceSlideg_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <blocks>
            <priceslideg>
                <class>Gsd_PriceSlideg_Block</class>
            </priceslideg>
            <catalog>
                <rewrite>
                    <layer_filter_price>Gsd_PriceSlideg_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <priceslideg>
                <class>Gsd_PriceSlideg_Helper</class>
            </priceslideg>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <priceslideg>
                    <file>priceslideg.xml</file>
                </priceslideg>
            </updates>
        </layout>
        <routers>
            <priceslideg>
                <use>standard</use>
                <args>
                    <module>Gsd_PriceSlideg</module>
                    <frontName>priceslideg</frontName>
                </args>
            </priceslideg>
            <catalog>
                <args>
                    <modules>
                        <Gsd_PriceSlideg before="Mage_Catalog">Gsd_PriceSlideg_Catalog</Gsd_PriceSlideg>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Gsd_PriceSlideg before="Mage_CatalogSearch">Gsd_PriceSlideg_CatalogSearch</Gsd_PriceSlideg>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
</config>