<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_Likeg>
            <version>0.1.0</version>
        </Gsd_Likeg>
    </modules>
    <global>
        <models>
            <likeg>
                <class>Gsd_Likeg_Model</class>
                <resourceModel>likeg_resource</resourceModel>
            </likeg>
            <likeg_resource>
                <class>Gsd_Likeg_Model_Resource</class>
                <entities>
                    <product>
                        <table>gsd_like_product</table>
                    </product>
                </entities>
            </likeg_resource>
        </models>
        <blocks>
            <likeg>
                <class>Gsd_Likeg_Block</class>
            </likeg>
        </blocks>
        <helpers>
            <likeg>
                <class>Gsd_Likeg_Helper</class>
            </likeg>
        </helpers>
        <resources>
            <gsd_likeg_product_setup>
                <setup>
                    <module>Gsd_Likeg</module>
                </setup>
            </gsd_likeg_product_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <likeg>
                <use>standard</use>
                <args>
                    <module>Gsd_Likeg</module>
                    <frontName>likeg</frontName>
                </args>
            </likeg>
        </routers>
    </frontend>
</config>