<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_CartAjaxg>
            <version>0.1.0</version>
        </Gsd_CartAjaxg>
    </modules>
    <frontend>
        <routers>
            <cartajaxg>
                <use>standard</use>
                <args>
                    <module>Gsd_CartAjaxg</module>
                    <frontName>cart-ajaxg</frontName>
                </args>
            </cartajaxg>
        </routers>
        <layout>
            <updates>
                <cartajaxg>
                    <file>cart_ajaxg.xml</file>
                </cartajaxg>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <cartajaxg>
                <class>Gsd_CartAjaxg_Model</class>
                <resourceModel>cartajaxg_resource</resourceModel>
            </cartajaxg>
            <!--<addajaxg_resource>
                <class>Gsd_AddAjaxg_Model_Resource</class>
                <entities>
                    <ajax>
                        <table>add_ajaxg</table>
                    </ajax>
                </entities>
            </addajaxg_resource>-->
        </models>
        <!--<resources>
            <add_ajaxg_setup>
                <setup>
                    <module>Gsd_AddAjaxg</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_ajaxg_setup>
            <add_ajaxg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_ajaxg_write>
            <add_ajaxg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_ajaxg_read>
        </resources>-->
        <blocks>
            <!--<checkout>
                <rewrite>
                    <cart_sidebar>Gsd_CartAjaxg_Block_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>-->
            <cartajaxg>
                <class>Gsd_CartAjaxg_Block</class>
            </cartajaxg>
        </blocks>
        <helpers>
            <cartajaxg>
                <class>Gsd_CartAjaxg_Helper</class>
            </cartajaxg>
        </helpers>
        <events>
            <!--<controller_action_postdispatch>
			<observers>
                <cartajaxg_observer>
                    <type>singleton</type>
                    <class>Gsd_CartAjaxg_Model_Observer</class>
                    <method>getListproduct</method>
                </cartajaxg_observer>
			</observers>
		</controller_action_postdispatch>-->
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cartajaxg translate="title" module="cartajaxg">
                                            <title>Cart add ajax</title>
                                        </cartajaxg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <cartajaxg>
            <cart>
                <enable>1</enable>
                <wish>1</wish>
                <compare>1</compare>
            </cart>
        </cartajaxg>
    </default>
</config>