<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_QuickViewg>
            <version>0.1.0</version>
        </Gsd_QuickViewg>
    </modules>
    <global>
        <models>
            <quickviewg>
                <class>Gsd_QuickViewg_Model</class>
            </quickviewg>
        </models>
        <blocks>
            <quickviewg>
                <class>Gsd_QuickViewg_Block</class>
            </quickviewg>
        </blocks>
        <helpers>
            <quickviewg>
                <class>Gsd_QuickViewg_Helper</class>
            </quickviewg>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <quickviewg>
                    <file>quick_viewg.xml</file>
                </quickviewg>
            </updates>
        </layout>
        <routers>
            <quickviewg>
                <use>standard</use>
                <args>
                    <module>Gsd_QuickViewg</module>
                    <frontName>quickviewg</frontName>
                </args>
            </quickviewg>
        </routers>
    </frontend>
</config>