<?xml version="1.0"?>
<!--
/****************************************************** 
 * @author http://www.9magentothemes.com
 * @copyright (C) 2011- 9MagentoThemes.Com
 * @license PHP files are GNU/GPL
*******************************************************/
-->
<config>
    <modules>
        <MagenThemes_Megamenu>
            <version>2.0.8</version>
        </MagenThemes_Megamenu>
    </modules>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>MagenThemes_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	    <megamenu>
		<use>admin</use>
		<args>
		    <module>MagenThemes_Megamenu</module>
		    <frontName>megamenu</frontName>
		</args>
	    </megamenu>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MagenThemes_Megamenu>
                    <files>
                        <default>MagenThemes_Megamenu.csv</default>
                    </files>
                </MagenThemes_Megamenu>
            </modules>
        </translate>
		<layout>
			<updates>
				<megamenu>
					<file>megamenu.xml</file>
				</megamenu>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <megamenu>
                <class>MagenThemes_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>MagenThemes_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>megamenu</table>
                    </megamenu>
                    <megamenu_store>
                        <table>megamenu_store</table>
                    </megamenu_store>
				    <megacategory>
						<table>megacategory</table>
				    </megacategory>
                    <megacategory_store>
                        <table>megacategory_store</table>
                    </megacategory_store>
				    <megamenu_block>
						<table>megamenu_block</table>
				    </megamenu_block>
				    <megamenu_link>
						<table>megamenu_link</table>
				    </megamenu_link>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>MagenThemes_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>MagenThemes_Megamenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>MagenThemes_Megamenu_Helper</class>
            </megamenu>
        </helpers>
        <events>
	    	<controller_action_layout_generate_blocks_after>
				<observers>
		    		<megamenu>
						<type>singleton</type>
						<class>megamenu/observer</class>
						<method>controller_action_layout_generate_blocks_after</method>
		    		</megamenu>
				</observers>
	    	</controller_action_layout_generate_blocks_after>
		</events>
    </global>
    <default>
    	<megamenu>
    		<general>
    			<active>1</active>
    			<enable_bootstrap>0</enable_bootstrap>
    		</general>
    		<fancy>
    			<active>1</active>
    			<duration>0.9</duration>
    		</fancy>
    	</megamenu>
    </default>
</config>