<?xml version="1.0"?>
<config>
    <modules>
        <Emosys_PrintOrderBundle>
            <version>0.1.0</version>
        </Emosys_PrintOrderBundle>
    </modules>
    <global>
        <models>
            <printorderbundle>
                <class>Emosys_PrintOrderBundle_Model</class>
            </printorderbundle>
        </models>
        <blocks>
            <printorderbundle>
                <class>Emosys_PrintOrderBundle_Block</class>
            </printorderbundle>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Emosys_PrintOrderBundle_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <printorderbundle>
                <class>Emosys_PrintOrderBundle_Helper</class>
            </printorderbundle>
        </helpers>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <sku />
                    </product_attributes>
                </item>
            </quote>
            <order>
                <item>
                    <product_attributes>
                        <sku />
                    </product_attributes>
                </item>
            </order>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <sku>
                    <to_order_item>*</to_order_item>
                </sku>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <sku>
                    <to_quote_item>*</to_quote_item>
                </sku>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Emosys_PrintOrderBundle before="Mage_Adminhtml">Emosys_PrintOrderBundle_Adminhtml</Emosys_PrintOrderBundle>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <eprint>
                    <file>eprint_order_bundle.xml</file>
                </eprint>
            </updates>
        </layout>
    </adminhtml>
</config>