<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_SwatchAttrg>
            <version>0.1.0</version>
        </Gsd_SwatchAttrg>
    </modules>
    <global>
        <models>
            <swatchattrg>
                <class>Gsd_SwatchAttrg_Model</class>
            </swatchattrg>
            
            <catalog>  
                <rewrite>
<!--                    <product_url>Gsd_SwatchAttrg_Model_Catalog_Product_Url</product_url>-->
                    <product_attribute_backend_media>Gsd_SwatchAttrg_Model_Catalog_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite> 
            </catalog>
            
            <eav_resource>  
                <rewrite>
                    <entity_attribute_option_collection>Gsd_SwatchAttrg_Model_Eav_Resource_Entity_Attribute_Option_Collection</entity_attribute_option_collection>
                </rewrite> 
            </eav_resource>
            
            <catalog_resource>
                <rewrite>
                    <product_attribute_backend_media>Gsd_SwatchAttrg_Model_Catalog_Resource_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog_resource>
        </models>
        
        <blocks>
            <swatchattrg>
                <class>Gsd_SwatchAttrg_Block</class>
            </swatchattrg>
            
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Gsd_SwatchAttrg_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_state>Gsd_SwatchAttrg_Block_Catalog_Layer_State</layer_state>
                </rewrite>
            </catalog>
            
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Gsd_SwatchAttrg_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>Gsd_SwatchAttrg_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                    <catalog_product_helper_form_gallery_content>Gsd_SwatchAttrg_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                    <catalog_product_edit_tab_super_config>Gsd_SwatchAttrg_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config</catalog_product_edit_tab_super_config>
                    <catalog_product_attribute_edit_form>Gsd_SwatchAttrg_Block_Adminhtml_Catalog_Product_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        
        <resources>
            <gsd_swatchattrg_setup>
                <setup>
                    <module>Gsd_SwatchAttrg</module>
                    <class>Gsd_SwatchAttrg_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gsd_swatchattrg_setup>
            <gsd_swatchattrg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gsd_swatchattrg_write>
            <gsd_swatchattrg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gsd_swatchattrg_read>
        </resources>
        <events>
            <core_collection_abstract_load_after>
                <observers>
                    <core_collection_abstract_load_after_swatchattrg>
                        <type>singleton</type>
                        <class>Gsd_SwatchAttrg_Model_Observer</class>
                        <method>coreCollectionAbstractLoadAfter</method>
                    </core_collection_abstract_load_after_swatchattrg>
                </observers>
            </core_collection_abstract_load_after>
            <model_save_after>
                <observers>
                    <model_save_after_swatchattrg>
                        <type>singleton</type>
                        <class>Gsd_SwatchAttrg_Model_Observer</class>
                        <method>modelSaveAfter</method>
                    </model_save_after_swatchattrg>
                </observers>
            </model_save_after>
        </events>
        <helpers>
            <swatchattrg>
                <class>Gsd_SwatchAttrg_Helper</class>
            </swatchattrg>
<!--            <catalog>
                <rewrite>
                    <product>Gsd_SwatchAttrg_Helper_Catalog_Product</product>
                </rewrite>
            </catalog>-->
        </helpers>
        <cache>
            <types>
                <swatch translate="label,description" module="swatchattrg">
                    <label>Swatch Blocks</label>
                    <description>Category / Search swatch HTML output.</description>
                    <tags>SWATCH</tags>
                </swatch>
            </types>
        </cache>
    </global>
    <frontend>
        <routers>
            <swatchattrg>
                <use>standard</use>
                <args>
                    <module>Gsd_SwatchAttrg</module>
                    <frontName>swatchattrg</frontName>
                </args>
            </swatchattrg>
        </routers>
        <layout>
            <updates>
                <swatchattrg>
                    <file>swatchattrg.xml</file>
                </swatchattrg>
            </updates>
        </layout>
    </frontend>
    <default>
        <swatchattrg>
            <general>
                <enable>1</enable>
                <colorattributes>92</colorattributes>
                <size>25</size>
                <title>Choose an option</title>
                <hidedropdown>1</hidedropdown>
                <dropdowntext>0</dropdowntext>
                <showonlist>1</showonlist>
                <listsize>12</listsize>
                <showonlayer>1</showonlayer>
                <layersize>15</layersize>
            </general>
            <templatesettings>
                <prodimgsize>265x265</prodimgsize>
                <moreimgsize>56x56</moreimgsize>
                <listimgsize>135x135</listimgsize>
            </templatesettings>
            <zoom>
                <enabled>1</enabled>
                <width>265</width>
                <height>265</height>
                <yoffset>0</yoffset>
                <xoffset>10</xoffset>
                <position>right</position>
                <title>false</title>
                <titleopacity>0.5</titleopacity>
                <softfocus>false</softfocus>
                <tint>#FFFFFF</tint>
                <tintopacity>0.5</tintopacity>
                <lensopacity>0.5</lensopacity>
                <smoothmove>3</smoothmove>
            </zoom>
        </swatchattrg>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <swatchattrg>
                    <file>swatchattrg.xml</file>
                </swatchattrg>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gsd_SwatchAttrg before="Mage_Adminhtml">Gsd_SwatchAttrg_Adminhtml</Gsd_SwatchAttrg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>			
</config>