<?xml version="1.0"?>
<!--
/**
 *
 * @category     MT
 * @package      MT_ProductQuestions
 *
 * @copyright    Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
 * @license      GNU General Public License version 2 or later;
 * @author       MagentoThemes.net
 * @email        support@magentothemes.net
 **
 */
 -->
<config>
    <modules>
        <MT_ProductQuestions>
            <version>2.2.7</version>
        </MT_ProductQuestions>
    </modules>
    <global>
        <models>
            <productquestions>
                <class>MT_ProductQuestions_Model</class>
                <resourceModel>productquestions_mysql4</resourceModel>
            </productquestions>
            <productquestions_mysql4>
                <class>MT_ProductQuestions_Model_Mysql4</class>
                <entities>
                    <productquestions>
                        <table>mt_productquestions</table>
                    </productquestions>
                    <categories>
                        <table>mt_productquestions_categories</table>
                    </categories>
                </entities>
            </productquestions_mysql4>
        </models>
        <blocks>
            <productquestions>
                <class>MT_ProductQuestions_Block</class>
            </productquestions>
<!--            <review>
                <rewrite>
                    <helper>MT_ProductQuestions_Block_Helper</helper>
                </rewrite>
            </review>-->
        </blocks>
        <helpers>
            <productquestions>
                <class>MT_ProductQuestions_Helper</class>
            </productquestions>
        </helpers>
        <resources>
            <productquestions_setup>
                <setup>
                    <module>MT_ProductQuestions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productquestions_setup>
            <productquestions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productquestions_write>
            <productquestions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productquestions_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <controller_front_init_routers_mtquestion>
                        <type>singleton</type>
                        <class>MT_ProductQuestions_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </controller_front_init_routers_mtquestion>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <productquestions>
                <use>standard</use>
                <args>
                    <module>MT_ProductQuestions</module>
                    <frontName>productquestions</frontName>
                </args>
            </productquestions>
        </routers>
        <layout>
            <updates>
                <productquestions>
                    <file>mt_productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <productquestions>
                        <class>productquestions/observer</class>
                        <method>customerLogin</method>
                    </productquestions>
                </observers>
            </customer_login>
        </events>
        <translate>
            <modules>
                <productquestions>
                    <files>
                        <default>MT_ProductQuestions.csv</default>
                    </files>
                </productquestions>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <productquestions>
                <use>admin</use>
                <args>
                    <module>MT_ProductQuestions</module>
                    <frontName>productquestions</frontName>
                </args>
            </productquestions>
            <adminhtml>
                <args>
                    <modules>
                        <productquestions before="Mage_Adminhtml">MT_ProductQuestions_Adminhtml</productquestions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productquestions>
                    <file>MT_ProductQuestions.xml</file>
                </productquestions>
            </updates>
        </layout>
        <translate>
            <modules>
                <productquestions>
                    <files>
                        <default>MT_ProductQuestions.csv</default>
                    </files>
                </productquestions>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <productquestions>
            <captcha_options>
                <display_captcha>1</display_captcha>
                <cptch_math_action_plus>1</cptch_math_action_plus>
                <cptch_math_action_minus>1</cptch_math_action_minus>
                <cptch_math_action_increase>1</cptch_math_action_increase>
                <cptch_difficulty_number>1</cptch_difficulty_number>
                <cptch_difficulty_word>1</cptch_difficulty_word>
            </captcha_options>
            <access_options>
                <allow_only_logged>0</allow_only_logged>
            </access_options>
        </productquestions>
<!--        <web>
            <routers>
               <productquestions>
                   <area>frontend</area>
                   <class>MT_ProductQuestions_Controller_Router</class>
               </productquestions>
           </routers>
        </web>-->
    </default>
</config>