<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_MultiFilterg>
            <version>0.1.0</version>
        </Gsd_MultiFilterg>
    </modules>
    <global>
        <models>
            <multifilterg>
                <class>Gsd_MultiFilterg_Model</class>
            </multifilterg>
            <catalog>
                <rewrite>
                    <layer_filter_item>Gsd_MultiFilterg_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_attribute>Gsd_MultiFilterg_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Gsd_MultiFilterg_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Gsd_MultiFilterg_Model_Resource_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Gsd_MultiFilterg_Model_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </models>
        <blocks>
            <multifilterg>
                <class>Gsd_MultiFilterg_Block</class>
            </multifilterg>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Gsd_MultiFilterg_Block_Catalog_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Gsd_MultiFilterg_Block_Catalog_Filter_Category</layer_filter_category>
                    <layer_filter_price>Gsd_MultiFilterg_Block_Catalog_Filter_Price</layer_filter_price>
                    <layer_filter_decimal>Gsd_MultiFilterg_Block_Catalog_Filter_Decimal</layer_filter_decimal>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Gsd_MultiFilterg_Block_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <multifilterg>
                <class>Gsd_MultiFilterg_Helper</class>
            </multifilterg>
        </helpers>
        <!--<resources>
            <gsd_multifilterg_setup>
                <setup>
                    <module>Gsd_MultiFilterg</module>
                </setup>
            </gsd_multifilterg_setup>
        </resources>-->
    </global>
    <frontend>
        <layout>
            <updates>
                <multifilterg>
                    <file>multifilterg.xml</file>
                </multifilterg>
            </updates>
        </layout>
    </frontend>
	
	<default>
        <multifilterg>
            <general>
                <enable>1</enable>
                <type_show>1</type_show>
            </general>
        </multifilterg>
    </default>
</config>