<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_TaxCaculatorg>
            <version>0.1.0</version>
        </Gsd_TaxCaculatorg>
    </modules>
    <global>
        <models>
            <taxcaculatorg>
                <class>Gsd_TaxCaculatorg_Model</class>
            </taxcaculatorg>
        </models>
        <blocks>
            <taxcaculatorg>
                <class>Gsd_TaxCaculatorg_Block</class>
            </taxcaculatorg>
        </blocks>
        <helpers>
            <taxcaculatorg>
                <class>Gsd_TaxCaculatorg_Helper</class>
            </taxcaculatorg>
        </helpers>
    </global>
    <frontend>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <sales_quote_collect_totals_after_taxcaculatorg>
                        <type>singleton</type>
                        <class>taxcaculatorg/observer</class>
                        <method>calculatePartialPrice</method>
                    </sales_quote_collect_totals_after_taxcaculatorg>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </frontend>
</config>