<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_CustomerAttributeg>
            <version>0.1.0</version>
        </Gsd_CustomerAttributeg>
    </modules>
    <global>
        <models>
            <customerattributeg>
                <class>Gsd_CustomerAttributeg_Model</class>
            </customerattributeg>
        </models>
        <blocks>
            <customerattributeg>
                <class>Gsd_CustomerAttributeg_Block</class>
            </customerattributeg>
        </blocks>
        <helpers>
            <customerattributeg>
                <class>Gsd_CustomerAttributeg_Helper</class>
            </customerattributeg>
        </helpers>
        <resources>
            <gsd_customerattributeg_setup>
                <setup>
                    <module>Gsd_CustomerAttributeg</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </gsd_customerattributeg_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <phone_work>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </phone_work>
            </sales_convert_quote_address>
            <sales_order_address>
                <phone_work>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </phone_work>
            </sales_order_address>
            <customer_address>
                <phone_work>
                    <to_quote_address>*</to_quote_address>
                </phone_work>
            </customer_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <customerattributeg>
                    <file>customerattributeg.xml</file>
                </customerattributeg>
            </updates>
        </layout>
    </frontend>
</config>