@media (max-width: 980px) {
  .nav-container{
    display: none;
  }
  .menu-mobile-show{
    display: block;
  }
}
@media (min-width: 980px) {
  .menu-mobile-show{
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  .products-grid > li {
    width: 20%;
  }
}