/*// Checkout Agreements
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content { overflow:auto; height:12em; padding:10px; background-color:#fbfaf6; border:1px solid #bbb6a5; }
.checkout-agreements .agree { margin:0; padding:10px 0 10px 11px; }
.checkout-agreements .agree input.checkbox { margin-right:6px; }
.checkout-agreements .agree label { font-weight:bold; color:#666; }

.opc .checkout-agreements { border:1px solid #d9dde3; border-width:0 1px; padding:5px 30px; }
.opc .checkout-agreements li { margin:20px 0 0; }
.opc .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:5px; }
.opc .checkout-agreements .agree { padding-left:6px; }

// Centinel
.centinel {}
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

.opc .centinel { border:1px solid #bbb6a5; border-width:0 1px 1px; padding:10px 30px; }

// Generic Info Set
.info-set { background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border:1px solid #bbb6a5; margin:0 0 25px; padding:20px; }
.info-set h2 { font-size:13px; font-weight:bold; margin:0 0 10px; }
.info-set h3,
.info-set h4 { font-size:13px; font-weight:bold; color:#E26703; }
.info-set h2 a,
.info-set h3 a,
.info-set h4 a { font-weight:normal; }
.info-set h2.legend { margin:-20px -20px 15px; padding:5px 10px; background:#f9f3e3; border-bottom:1px solid #bbafa0; position:relative; }
.info-set h3.legend { margin:0 0 10px; color:#0a263c; }
.info-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.info-set .box { margin:0 0 15px; }
.info-set .box h2 { color:#e26703; }
.info-set .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#1e7ec8 !important; }
.info-set .data-table .product-name a { font-weight:bold !important; }
.info-set .data-table .item-options { margin:5px 0 0; }
*//********** Common Checkout Styles > *//*

// One Page Checkout
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:13px; color:#0a263c; }
.block-progress .block-content { background:none; }
.block-progress dt { font-size:13px; line-height:1.35; background:#eee; border:1px solid #a3aeb3; margin:0 0 6px; padding:2px 8px; color:#999; }
.block-progress dd { background:#eee; border:1px solid #a3aeb3; border-top:0; padding:8px 13px; margin:0 0 6px; }
.block-progress dt.complete { margin:0; background:#d0dce1; color:#5e8ab4; }
.block-progress dd.complete {}
.block-progress p { margin:0; }
.block-progress .cards-list dt { background:none; border:0 none; color:inherit; font-size:12px; margin:5px 0; padding:0; }
.block-progress .cards-list dd { border:0 none; margin:0; padding:0; }
.block-progress .cards-list .info-table th { font-weight:normal; }

// show/hide "change" link for progress step depend on complete status
// * should be placed in .css file
.opc-block-progress dt.complete a,
.opc-block-progress dt.complete .separator { display: inline; }
.opc-block-progress dt a,
.opc-block-progress dt .separator { display: none; }

.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; }
.opc li.section {}

.opc .step-title { border-width:0 1px 1px 1px; border-style:solid; border-color:#fff #d9dde3 #d9dde3; background:#eee; padding:4px 8px 6px; text-align:right; }
.opc .step-title .number { float:left; background:#fff; border:1px solid #fff; padding:0 4px; margin:0 5px 0 0; font:bold 11px/14px arial, helvetica, sans-serif; color:#999; }
.opc .step-title h2 { float:left; margin:0; font:bold 13px/16px Arial, Helvetica, sans-serif; color:#999; }
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title { background:#d0dce1; border:1px solid #a3aeb3; border-bottom:0; color:#a4b3b9; cursor:pointer; }
.opc .allow .step-title .number { background:#dbe6eb; border-color:#dbe6eb; color:#a4b3b9; }
.opc .allow .step-title h2 { color:#a4b3b9; }
//.opc .allow .step-title a { display:block; }

.opc .active .step-title { background:#fff; border:1px solid #bbafa0; padding-bottom:5px; color:#f18200; cursor:default; }
.opc .active .step-title .number { background:#525252; border-color:#525252; color:#fff; }
.opc .active .step-title h2 { color:#525252; }
//.opc .active .step-title a { display:none; }

.opc .step { border:1px solid #bbafa0; border-top:0; background:#fff; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:15px; padding-bottom:2px; text-transform:uppercase;font-family: 'sintonybold'; }
#opc-login h4 { font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { border:0; padding:0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #ccc; border-width:1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }


.checkout-progress { padding:0 90px; margin:0 0 20px; }
.checkout-progress li { float:left; width:19%; margin:0 3px 0 0; border-top:10px solid #999; padding:2px 0 0; font-weight:bold; text-align:center; color:#abb5ba; }
.checkout-progress li.active { border-top-color:#e96200; color:#e96200; }

.multiple-checkout h2 { font-size:13px; font-weight:bold; margin:0 0 10px; }
.multiple-checkout h3,
.multiple-checkout h4 { font-size:13px; font-weight:bold; color:#E26703; }
.multiple-checkout h2 a,
.multiple-checkout h3 a,
.multiple-checkout h4 a { font-weight:normal; }
.multiple-checkout .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#1e7ec8 !important; }
.multiple-checkout .data-table .product-name a { font-weight:bold !important; }
.multiple-checkout .data-table .item-options { margin:5px 0 0; }

.multiple-checkout .gift-messages { margin:15px 0 0; }

.multiple-checkout .tool-tip { top:50%; margin-top:-120px; right:20px; }

.multiple-checkout .col2-set,
.multiple-checkout .col3-set { background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border:1px solid #bbb6a5; margin:0 0 25px; padding:20px; }
.multiple-checkout .col2-set h2.legend { margin:-20px -20px 15px; padding:5px 10px; background:#f9f3e3; border-bottom:1px solid #bbafa0; position:relative; }
.multiple-checkout .col2-set h3.legend { margin:0 0 10px; color:#0a263c; }
.multiple-checkout .col2-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.multiple-checkout .box { margin:0 0 15px; }
.multiple-checkout .box h2 { color:#e26703; }

.multiple-checkout .place-order .please-wait { float:right; padding:27px 7px 0 0; }
.multiple-checkout .place-order .grand-total { float:right; height:71px; font-size:1.5em; padding:0 0 0 21px; background:url(../images/bkg_grand-total.gif) 0 0 no-repeat; overflow:hidden; }
.multiple-checkout .place-order .grand-total .inner { float:left; height:57px; padding:14px 21px 0 0; background:url(../images/bkg_grand-total.gif) 100% 0 no-repeat; }
.multiple-checkout .place-order .grand-total .inner div { display:inline; }
.multiple-checkout .place-order .grand-total big { display:inline; margin-right:12px; }
.multiple-checkout .place-order .grand-total .price { color:#E26703; }
.multiple-checkout .place-order .grand-total button.button span { font-size:16px; }
.multiple-checkout .place-order .grand-total button.button span span { padding:0 45px 0 36px; }


.multiple-checkout .title-buttons button.button span { border-color:#406a83; background:#618499; }
#multiship-addresses-table td { padding:10px; }
#multiship-addresses-table tfoot td { padding:5px 10px; }
#multiship-addresses-table tfoot button.button span { border-color:#406a83; background:#618499; }


.multiple-checkout .gift-messages-form .item .details .form-list { width:100%; overflow:hidden; }
.multiple-checkout .gift-messages-form .item .details .form-list li { margin-right:-15px; }
.multiple-checkout .gift-messages-form .item .details .form-list .field { width:230px; }
.multiple-checkout .gift-messages-form .item .details .form-list .input-box { width:215px; }
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text { width:209px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box { width:445px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea { width:439px; }
.checkout-multishipping-shipping .box-sp-methods { border:1px solid #d9d2be; background:#f9f3e3; padding:13px; position:relative; }
.checkout-multishipping-shipping .box-sp-methods .pointer { position:absolute; top:-20px; right:-40px; width:178px; height:41px; background:url(../images/bkg_sp-methods.gif) 0 0 no-repeat; overflow:hidden; }


.checkout-multishipping-billing .multiple-checkout { position:relative; }



.block-progress .block-title { background:none; margin:0 0 34px; padding:0; }
.checkout-onepage-index .col-main { padding:0; border:0; }
.checkout-onepage-index .page-title h1 { background:none; padding:0; }

.opc { position:relative; overflow:hidden; height:400px; text-align:center;}
.opc .buttons-set { margin:15px 0 0; opacity:1!important; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link { display:none; }
.opc .buttons-set .please-wait { position:absolute; z-index:99; top:30%; left:50%; margin:-80px 0 0 -146px; border:5px solid #f3b66f; font-size:12px; background:#fff; padding:30px; white-space:nowrap; border:1px solid #c0c0c0; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 50px rgba(0,0,0,0.2); box-shadow:0 0 50px rgba(0,0,0,0.2); }
.opc .buttons-set a { color:#214D90; }
.opc .ul { list-style:disc outside; padding-left:18px; }
.opc li.section { display:inline; }
.opc .step-title,.opc .allow .step-title { border:1px solid #F9F3E3; height:69px }
.opc .step { padding:30px 20px; position:absolute; border:0; top:110px; left:0; z-index:1; width:605px; border-bottom:1px dotted #ccc; border:none; width:643px; text-align:left;}
.opc .step-title .number,.opc .allow .step-title .number,.opc .active .step-title .number { float:none; display:block; margin:0 auto; margin-bottom:10px; }
.opc .step-title { position:relative; float:left; text-align:center; padding:15px 11px 0; margin-left:-1px; background:none; }
.opc .step-title a { display:none; }
.opc .step-title .number { background:#ccc; color:#fff; width:30px; height:30px; line-height:30px; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; margin-bottom:10px; padding:0; border:0; }
.opc .step-title h2 { font-size:12px; color:#bbb; clear:both; }
.opc .allow .step-title { cursor:pointer; background:none; }
.opc .allow .step-title .number { background:#000; color:#fff; }
.opc .allow .step-title h2 { color:#000; }
.opc .active .step-title { color:#ef0606; cursor:default; border:1px solid #BBAFA0; border-bottom:1px solid #FBFAF6; z-index:2; background:#FBFAF6 url(../images/bkg_checkout.gif) 0 0 repeat-x; }
.opc .active .step-title .number { background:#F18200; border-color:#fff; color:#fff; }
.opc .active .step-title h2 { color:#F18200; }
.opc .step-title h2,.opc .allow .step-title h2,.opc .active .step-title h2 { width:100%; text-align:center; }
.opc .step-title {}
.opc .form-list .field,.opc .form-list .wide { }
.opc .form-list li fieldset { margin-bottom:40px; }
.opc .form-list label { float:left;text-align:right; padding:4px 0 0; }
.opc .form-list label.required em { }
.opc .form-list li.fields { margin:0; }
.opc .form-list div.fields { width:100%; overflow:hidden; margin:0 0 8px; }
.opc .form-list .wide,.opc .form-list li.fields{ width:600px; max-width:100%; margin:0 auto 8px; }
.opc .form-list li.wide .input-box,.opc .form-list .input-box { }
.opc .form-list li.wide select { width:390px; }
.opc .form-list li.wide input.input-text { width:254px; }
.opc .form-list .control input { margin:8px 0 0 25px; }
.opc .form-list li.control label { float:left; }
.opc form .form-list li.wide { margin-bottom:8px; }
.opc form .address-select { margin:8px 0 40px; }

.opc:first-of-type .step{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.opc:first-of-type .step[style*='display:none;'],
.opc:first-of-type .step[style*='display: none;']{display:block !important;}
.opc:first-of-type .section .step{left: 100%;}
.opc:first-of-type .allow .step{left: -100%;}
.opc:first-of-type .active .step{left:0;}
.opc:first-of-type li:last-child .step-title a{width:50%}
.opc:first-of-type li:first-child .step-title a{width:50%;left:50%}

#opc-login p.required { display:none; }
#opc-login h3 { margin-bottom:18px; }
#opc-login .col-2 { float:left; }
#opc-login .col-2 form fieldset h4 { display:none; }
#opc-login .col-2 { display:block; width:300px; }
#opc-login .col-2 fieldset { width:300px; }
#opc-login .col-2 .input-box { width:188px; margin:0; float:left; }
#opc-login .col-2 .input-text { }
#opc-login .col-2 .form-list label { text-align:left; }
#opc-login .col-2 .form-list label { width:110px; }
#opc-login .form-list li.control label { float:none; }
#opc-login .form-list li.control input { margin:0 8px 0 0; }
#opc-login .col-1 { float:right; }
#opc-login .col-1 { width:290px; }
#opc-login .col-1 h4,#opc-login .col-1 .ul { display:none; }
#checkout-step-review.step { width:645px; }

#opc-review .step { padding:30px 20px; border-top:1px solid #BBAFA0; }
#opc-review .data-table{  width: 100%;  margin: auto;  padding-top: 20px;clear: both;}
#checkout-review-table-wrapper .checkout-review-block.cr-billing,
#checkout-review-table-wrapper .checkout-review-block.cr-shipping-method,
#checkout-review-table-wrapper .checkout-review-block.cr-payment {
  width: 33%;
  float: left;
}
#checkout-review-table-wrapper .checkout-review-block.cr-billing dt.complete,
#checkout-review-table-wrapper .checkout-review-block.cr-shipping-method dt.complete,
#checkout-review-table-wrapper .checkout-review-block.cr-payment dt.complete{
    font-family: 'sintonybold';
    color: #635447;
    text-transform: uppercase;
}


#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 0; border:0; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-shipping_method .buttons-set { border-top:1px solid #E4E4E4; }


.block-progress .block-title { background:none; margin:0 0 34px; padding:0; }
.checkout-onepage-index .col-main { padding:0; border:0; }
.checkout-onepage-index .page-title {width:auto;margin:0; }
.checkout-onepage-index .page-title h1 { background:none; padding:20px 0 30px; text-align: center; }
.opc { position:relative; overflow:hidden;text-align:center;  font-size: 14px; }
.opc .buttons-set { margin:15px auto 0; opacity:1!important; width: 100%; text-align: center;    border-top: 3px solid #A49078;}
.opc .buttons-set button.button{  margin: auto;}
.opc .buttons-set button.button span{ font-family: 'sintonybold';    text-transform: uppercase;    min-width: 60px;    background: #635447;    border: 0;    padding: 5px 30px;}
.opc .buttons-set button.button span span{ padding: 0;}

.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link { display:none; }
.opc .buttons-set .please-wait { position:absolute; z-index:9999; top:50%; left:50%; margin:-80px 0 0 -146px; border:5px solid #f3b66f; font-size:12px; background:#fff; padding:30px; white-space:nowrap; border:1px solid #c0c0c0; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 50px rgba(0,0,0,0.2); box-shadow:0 0 50px rgba(0,0,0,0.2); }
.opc .buttons-set a {line-height: 40px; color:#717375; }
.opc .ul { list-style:disc outside; padding-left:18px; }
.opc li.section { display:inline; }
.opc li.section:first-child .step-title{margin:20px 0 0 5px;}
.opc .step-title,.opc .allow .step-title { border-color:#FBFAF6; }
.opc .step {
    border-top: 3px solid #A49078;
    color: #a49078;
    padding: 30px 0;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    background: #fff;
    background: none;
    width: 100%;
    text-align: left;
}
.opc .step-title .number,.opc .allow .step-title .number,.opc .active .step-title .number { float:none; display:none; margin:0 auto; margin-bottom:10px; }
.opc .step-title a { display:none; }
.opc .step-title .number { background:#fff; color:#ccc; width:30px; height:30px; line-height:30px; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; margin-bottom:10px; padding:0; border:0; position:relative; z-index:1; }
.opc .step-title h2 { font-size:12px; color:#A39078; clear:both; margin-bottom:10px; }
.opc .allow .step-title .number { background:#ccc; border-color:#fff; color:#fff; }
.opc .allow .step-title h2 { color:#ccc; }
.opc .active .step-title .number { background:#a39078; border-color:#fff; color:#fff; }
.opc .active .step-title h2 { color:#000; }
.opc .step-title,.opc .allow .step-title,.opc .active .step-title { position:relative; text-align:center; border:none; background:none; padding:0; overflow:hidden!important; height:80px; display:inline-block; vertical-align:top; }
.opc .step-title,.opc .allow .step-title,.opc .active .step-title { *display:block; *float:left;   margin: 20px 0 0 5px; }
.opc .step-title h2,.opc .allow .step-title h2,.opc .active .step-title h2 {font-family: 'sintonyregular'; width:100%; text-align:center;text-transform: uppercase;font-weight: normal;font-size:15px;}
.opc .active .step-title h2 {
  font-family: 'sintonybold';
}
.opc .step-title {width:16%;}
.opc .form-list .field,.opc .form-list .wide { }
.opc .form-list li fieldset { margin-bottom:40px; }
.opc .form-list label {     margin-right: 10px;float:left; text-align:left; padding:4px 0 0; color: #a39078;font-weight: normal;font-family: 'sintonyregular';}
.opc .form-list label.required em { position: absolute;top: 7px;right: -10px; float:none; font-family: 'sintonyregular';}
#opc-login .col-2 .form-list label.required em{right:0;}
.opc .form-list li.fields {}
.opc .form-list div.fields { width:100%; overflow:hidden; margin:0 0 8px; }
.opc .form-list .wide,.opc .form-list li.fields .field,.opc .form-list li.control { max-width:600px; margin:0 auto 8px; }
.opc .form-list li.wide .input-box,.opc .form-list .input-box { clear:none; font-family: 'sintonyregular'; max-width: 100%;width: 100%;}
.opc .form-list input.input-text{ max-width:97.5%; padding:0 0 0 2%;height: 38px;background: #fff;border: 1px solid #9E9786;box-shadow: 0px 0px 1px #9E9786;-webkit-box-shadow: 0px 0px 1px #9E9786;-moz-box-shadow: 0px 0px 1px #9E9786;}
.opc  .form-list select {width: 100%;max-width: 100%;border: 1px solid #9E9786;height: 40px; }
.opc .form-list li.wide select { width:100%;font-family: 'sintonyregular'; }
.opc .form-list li.wide input.input-text { width:100%; }
.opc .form-list .control input { margin:8px 0 0 25px; }
.opc .form-list li.control label { float:left; }
.opc form .form-list li.wide { margin-bottom:8px; }
.opc form .address-select { margin:8px 0 40px; }
.opc:first-of-type .step{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.opc:first-of-type .step[style*='display:none;'],
.opc:first-of-type .step[style*='display: none;']{display:block !important;}
.opc:first-of-type .section .step{left: 100%;}
.opc:first-of-type .allow .step{left: -1000%;}
.opc:first-of-type .active .step{left:0%;}
.opc:first-of-type li:last-child .step-title a{width:50%}
.opc:first-of-type li:first-child .step-title a{width:50%;left:50%}
.opc:first-of-type .step-title a { display:block;height:1px; width:100%; text-indent:-3000px; position: absolute;top:15px;z-index: 0}
.opc:first-of-type .allow .step-title a {}

#opc-login p.required { display:none; }
#opc-login h3 { margin-bottom:18px; }
#opc-login .col-2 { float:left; }
#opc-login .col-2 form fieldset h4 { display:none; }
#opc-login .col-2 { display:block; width:500px; }
#opc-login .col-2 fieldset { width:100%; }
#opc-login .col-2 .input-box { max-width: 370px;width: 100%;margin:0; float:right; }
#opc-login .col-2 .input-text { max-width: 100%;height: 38px;padding: 0 0 0 3%;width: 96%; font-family: 'sintonyregular'; }
#opc-login .col-2 .form-list label { text-align:left; }
#opc-login .col-2 .form-list label { width:100px; margin-right: 10px; padding-right: 10px;}
#opc-login .form-list li.control label { float:none; }
#opc-login .form-list li.control input {    margin: 0 8px 0 0;}
#opc-login .col-1 { float:right; }
#opc-login .col-1 { width:500px; }
#opc-login .col-1 h4,#opc-login .col-1 .ul { display:none; }


#checkout-step-review.step { width:95%; }
#opc-review .step { padding:30px 10px; border-top:1px solid #BBAFA0; }
#opc-review .product-name {    font-weight: normal;    color: #9E9786;}
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 0; border:0; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .btn-edit-cart{
    line-height: 28px;
    display: block;
    padding: 0 30px;
    border: 1px solid #9E9786;
    color: #9E9786;
}
.name-checkout-page .name-firstname{
  width: 49%;
  float: left;
}
.name-checkout-page .name-lastname{
  width: 49%;
  float: right;
}

#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-shipping_method .buttons-set {     border-top: 3px solid #A49078; }*/
/*end checkout custom-----------------------------------*/

.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.ajax-loading-wrapper{
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  z-index: 9999999999;
  display: none;
}

.ajax-loading-wrapper .ajax-loading{
  width: 50px;
  margin: 0px auto;
  margin-top: 50px;
}

.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;

}
.gallery-thumbs .swiper-slide-active {

}
.mini-cart-header .block-content{
  display: none;
  position: absolute;
  z-index: 9999;
  width: 90%;
}
.tabs > li{
  float: left;
  padding: 10px;
  border: 1px solid;
}
.tabs > li.active{
  border-bottom: none;
}
.padder{
  border: 1px solid;
  clear: both;
}
.form-categories .category-tree{
  text-align: left;
}

/*-- menu mobile left ---*/
#mmenu-left {
  position: fixed;
  background-color: #222;
  height: 100%;
  z-index: 10;
  width: 280px;
  color: #bbb;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
}
#mmenu-left.left { left: -280px; }
#mmenu-left.show { left: 0;    overflow-y: auto; }
#mmenu-left ul {
  list-style: none;
  margin-top: 0;
  padding: 0
}
#mmenu-left ul li { border-bottom: 1px solid #2a2a2a; position: relative; }
#mmenu-left>ul>li>a { border-left: 4px solid #222; }
#mmenu-left ul li a {
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  text-align: left;
}
#mmenu-left ul a i {
  margin-right: 10px;
  font-size: 18px;
  margin-top: 3px;
  width: 20px;
}
#mmenu-left ul a:hover,
#mmenu-left ul li.active {
  background-color: #111;
  border-left-color: #6796BF;
  color: #6796BF;
}
#mmenu-left ul a:hover i:first-child { color: #FFCC33; }
/* Submenu */
#mmenu-left ul li.active+ul { display: block }
#mmenu-left ul li ul {
  margin-top: 0;
}
#mmenu-left ul li ul li { border-bottom: none; }
#mmenu-left ul li ul li a { padding-left: 30px; }
#mmenu-left ul li ul li ul li a { padding-left: 60px; }
#mmenu-left ul li ul li a:hover { background-color: #1A1A1A; }
/* /Submenu */
#mmenu-left .collapse-title:before {
  color: #fff;
  font-size: 12px;
  content: "+";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 44px;
  width: 44px;
  text-align: center;
  cursor: pointer;
  background: #111;
}
#mmenu-left .collapse-title {
  cursor: pointer;
}
#mmenu-left .collapse-title.expand:before {
  content: "-";
}
#mmenu-left .collapse-title span {
  display: none;
}
/*------ end menu mobile left------------------------------------*/
.collapse-content {
  display: none;
}
.collapse-content.open{
  display: block;
}
/* collapse html */
/*.collapse-content {
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  transform: scaleY(0);
  transform-origin: top;
}
.collapse-content.prev {
  transform-origin: bottom;
}
.collapse-content.open {
  transform: scaleY(1);
}*/

/*------- end collapse html -------------------------*/

/*-- opacity blur-- */
.opacity-blur{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.opacity-blur--10{
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    -o-filter: blur(30px);
    filter: blur(30px);;
}
.opacity-blur--1{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);;
}
.opacity-blur--2{
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);;
}
.opacity-blur--3{
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -ms-filter: blur(9px);
    -o-filter: blur(9px);
    filter: blur(9px);;
}
.opacity-blur--4{
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -ms-filter: blur(12px);
    -o-filter: blur(12px);
    filter: blur(12px);;
}
.opacity-blur--5{
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);;
}
.opacity-blur--6{
    -webkit-filter: blur(18px);
    -moz-filter: blur(18px);
    -ms-filter: blur(18px);
    -o-filter: blur(18px);
    filter: blur(18px);;
}
.opacity-blur--7{
    -webkit-filter: blur(21px);
    -moz-filter: blur(21px);
    -ms-filter: blur(21px);
    -o-filter: blur(21px);
    filter: blur(21px);;
}
.opacity-blur--8{
    -webkit-filter: blur(24px);
    -moz-filter: blur(24px);
    -ms-filter: blur(24px);
    -o-filter: blur(24px);
    filter: blur(24px);;
}
.opacity-blur--9{
    -webkit-filter: blur(27px);
    -moz-filter: blur(27px);
    -ms-filter: blur(27px);
    -o-filter: blur(27px);
    filter: blur(27px);;
}
/*-- end opacity blur-------------------------------------------------- */
.colorbox-addcart .product-view .product-shop {
   width: auto;
   float: none;
}

