<?xml version="1.0"?>
<config>
    <modules>
        <Emosys_ReviewCustomerg>
            <version>0.1.0</version>
        </Emosys_ReviewCustomerg>
    </modules>
    <global>
        <models>
            <review_customerg>
                <class>Emosys_ReviewCustomerg_Model</class>
                <resourceModel>review_customerg_resource</resourceModel>
            </review_customerg>
            <review_customerg_resource>
                <class>Emosys_ReviewCustomerg_Model_Resource</class>
                <entities>
                    <rating>
                        <table>review_customerg_rating</table>
                    </rating>
                    <ratingentity>
                        <table>review_customerg_rating_entity</table>
                    </ratingentity>
                    <review>
                        <table>review_customerg_review</table>
                    </review>
                </entities>
            </review_customerg_resource>
        </models>
        <blocks>
            <review_customerg>
                <class>Emosys_ReviewCustomerg_Block</class>
            </review_customerg>
        </blocks>
        <helpers>
            <review_customerg>
                <class>Emosys_ReviewCustomerg_Helper</class>
            </review_customerg>
        </helpers>
        <resources>
            <review_customerg>
                <setup>
                    <module>Emosys_ReviewCustomerg</module>
                </setup>
            </review_customerg>
        </resources>
    </global>

    <admin>
        <routers>
            <!--<adminhtml>
                <args>
                    <modules>
                        <Emosys_ReviewCustomerg before="Mage_Adminhtml">Emosys_ReviewCustomerg_Adminhtml
                        </Emosys_ReviewCustomerg>
                    </modules>
                </args>
            </adminhtml>-->
            <review_customerg>
                <use>admin</use>
                <args>
                    <module>Emosys_ReviewCustomerg_Adminhtml</module>
                    <frontName>adming</frontName>
                </args>
            </review_customerg>
        </routers>
    </admin>

    <adminhtml>
    </adminhtml>

    <frontend>
        <routers>
            <review_customerg>
                <use>standard</use>
                <args>
                    <module>Emosys_ReviewCustomerg</module>
                    <frontName>reviewg</frontName>
                </args>
            </review_customerg>
        </routers>
        <layout>
            <updates>
                <review_customerg>
                    <file>review_customerg.xml</file>
                </review_customerg>
            </updates>
        </layout>
    </frontend>
</config>