<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_GroupedConfigrableg>
            <version>0.1.0</version>
        </Gsd_GroupedConfigrableg>
    </modules>
    <global>
        <helpers>
            <groupedconfigrableg>
                <class>Gsd_GroupedConfigrableg_Helper</class>
            </groupedconfigrableg>
        </helpers>
        <blocks>
            <groupedconfigrableg>
                <class>Gsd_GroupedConfigrableg_Block</class>
            </groupedconfigrableg>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_group>Gsd_GroupedConfigrableg_Block_Adminhtml_Catalog_Product_Group</catalog_product_edit_tab_super_group>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <groupedconfigrableg>
                <class>Gsd_GroupedConfigrableg_Model</class>
            </groupedconfigrableg>
            <catalog>
                <rewrite>
                    <product_type_grouped>Gsd_GroupedConfigrableg_Model_Catalog_Product_Type_Grouped</product_type_grouped>
                </rewrite>
            </catalog>
        </models>
        <catalog>
            <product>
                <type>
                    <grouped>
                        <allow_product_types>
                            <configurable />
                        </allow_product_types>
                    </grouped>
                </type>
            </product>
        </catalog>
    </global>
    <frontend>
        <layout>
            <updates>
                <groupedconfigrableg>
                    <file>groupedconfigrableg.xml</file>
                </groupedconfigrableg>
            </updates>
        </layout>
        <routers>
            <groupedconfigrableg>
                <use>standard</use>
                <args>
                    <module>Gsd_GroupedConfigrableg</module>
                    <frontName>groupedconfigrableg</frontName>
                </args>
            </groupedconfigrableg>
        </routers>
    </frontend>
</config>