<?xml version="1.0"?>
<config>
    <modules>
        <Gsd_Baseg>
            <version>0.1.0</version>
        </Gsd_Baseg>
    </modules>
    <global>
        <helpers>
            <baseg>
                <class>Gsd_Baseg_Helper</class>
            </baseg>
        </helpers>
        <blocks>
            <baseg>
                <class>Gsd_Baseg_Block</class>
            </baseg>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <baseg>
                    <file>baseg.xml</file>
                </baseg>
            </updates>
        </layout>
        <routers>
            <baseg>
                <use>standard</use>
                <args>
                    <module>Gsd_Baseg</module>
                    <frontName>baseg</frontName>
                </args>
            </baseg>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <baseg>
                                            <title>Setting base</title>
                                        </baseg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <baseg>
            <js>
                <jquery_enable>1</jquery_enable>
            </js>
        </baseg>
    </default>
</config>